.loaderContaienr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.container {
  //padding: 0 30px;
  width: 100%;

  .order__block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .order {
      padding: 10px;
      width: 400px;
      height: 300px;
      outline: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .order__top {
        display: flex;
        gap: 10px;
        justify-content: space-between;

        .order__product {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }

      .order__down {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }

    }
  }
}


.button {
  padding: 10px;
  width: 100%;
}

.delivered {
  color: green;
  font-weight: 700;
}