.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  .block {
    border-radius: 5px;
    width: 500px;
    height: 550px;
    position: relative;
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 550px) {
      width: 95%;
      height: fit-content;
      padding: 20px 10px 10px 10px;
    }

    .closeModal {
      position: absolute;
      top: -32px;
      right: -32px;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 24px;

      @media (max-width: 550px) {
        top: 2px;
        right: 2px;
        background-color: rgba(0,0,0,0.7);
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
    }

    .productInfo {
      display: flex;
      width: 100%;
      color: black;
      justify-content: space-between;
      gap: 10px;
      align-items: center;


      .productInfo__text {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .product__title {
          font-size: 18px;
          font-weight: bold;
        }
        .product__desc {
            font-size: 16px;
        }
      }
    }

    .ratingBlock {
      display: flex;
      justify-content: center;
    }
    .textAreaBlock {
      display: flex;
      flex-direction: column;

      .textarea {
        font-size: 16px;
        padding: 10px;
        min-width: 100%;
        line-height: 1.5;
        border-radius: 5px;
        border: 1px solid #ccc;
        color: #464545;
        box-shadow: 1px 1px 1px #999;
        resize: none;
        min-height: 230px;
        margin-top: 10px;
      }

      .label {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 17px;

        .labelText {
          font-weight: 700;
        }
      }
    }
  }
}

.button {
  width: 100%;
  padding: 10px;
}