.removeButton {
  position: absolute;
  background-color: rgba(116, 0, 0, 0.7);
  color: #fff;
  width: 150px;
  padding: 10px 0;
  cursor: pointer;
  box-shadow: none !important;
  bottom: 5px;
  right: calc(50% - 75px);


  &:hover {
    background-color: rgba(116, 0, 0, 0.9) ;
  }
}
.errorContainer {
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px 0 80px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;

  .errorText {
    text-align: center;
  }
}

.loadContainer {
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px 0 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.product__container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 0;
}

.hr {
  width: 100%;
  border: 1px solid #E5E5E5;
  margin: 15px 0;
}

.product {
  display: flex;
  max-width: 1300px;
}

.product__photos {
  max-width: 602px;
}

.bigImage {
  width: 100%;
  height: 407px;
}

.product__description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 70px 0 30px 0;

  .clearReviewContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .reviewContainer {
    display: flex;
    flex-direction: column;

    .review {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 30px 0;
      gap: 20px;
      position: relative;

      &:not(:first-child) {
        border-top: 2px solid #d9ded9;
      }


      .reviewInfo {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .review__user {
          display: flex;
          gap: 10px;
          align-items: center;

          .review__image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }

          .review__userInfo {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
        }

        .review__message {
          word-break: break-word;
          line-height: 25px;
        }
      }

      .reviewDate {
        font-family: "Book Antiqua", sans-serif;
        opacity: 0.7;
        min-width: 150px;
        padding-top: 20px;
      }
    }
  }
}


.product__description__title {
  font-size: 22px;
  font-weight: 600;
}

.product__description__text {
  font-size: 18px;
}


.line {
  width: 100%;
  height: 4px;
  background-color:#EDF3F3;
  position: relative;
  border-radius: 5px;
}

.line::before {
  position: absolute;
  content: '';
  background-color: #28553F;
  width: 10%;
  border-radius: 5px;
  height: 100%;
}

.slider {
  max-width: 100%;
}

.slider__image {
  width: 117px;
  height: 103px;
}

.addStyleDots {
  display: none;
}

.addStyleDot {
  display: none;
  width: 0;
  height: 0;
}


@media(max-width: 1310px) {
  .product__container {
    margin: 0 10px;
  }
}

@media(max-width: 1120px) {
  .product__photos {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .product {
    flex-direction: column;
  }

}

@media(max-width: 620px) {
  .product__photos {
    /* margin: 0 10px; */
    margin-bottom: 30px;
  }

  .bigImage {
    width: 500px;
    height: auto;
  }

  .slider {
    max-width: 500px;
  }

  .product {
    flex-direction: column;
  }

}

@media(max-width: 510px) {
  .bigImage {
    width: 450px;
  }

  .slider {
    max-width: 450px;
  }
}

@media(max-width: 460px) {
  .bigImage {
    width: 400px;
  }

  .slider {
    max-width: 400px;
  }
}

@media(max-width: 410px) {
  .bigImage {
    width: 370px;
  }

  .slider {
    max-width: 370px;
  }
}

@media(max-width: 380px) {
  .bigImage {
    width: 340px;
  }

  .slider {
    max-width: 340px;
  }
}

@media(max-width: 350px) {
  .bigImage {
    width: 310px;
  }

  .slider {
    max-width: 310px;
  }
}


.review__button {
  padding: 15px;

  &:hover {
    box-shadow: none;
  }
}