.loaderContaienr {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .catalogButton {
    padding: 10px 20px;
  }
}

.container {
  //padding: 0 30px;
  width: 100%;
}

.table {
  border: 1.6px solid rgba(240, 248, 240, 0.8);
  border-collapse: collapse;

  .tableRow {
    background-color: #f8f8f8;
  }

}

.link {
  color: #1a1a1a;
  text-decoration: underline;
}
.TableCell {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 10px 0;

  .processing {
    color: #d07d11;
    font-weight: bold;
  }
  .inTransit {
    color: #2828df;
    font-weight: bold;
  }
  .delivered  {
    color: #1e871e;
    font-weight: bold;
  }
}


.reviewButton {
  color: black;
}