@import "./assets/fonts/fonts.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

html,
body {
    height: 100%;
    font-size: 18px;
    line-height: 1;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 80px;
    flex: 1 1 auto;
}

.loader {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 10000;
    background-color: #a0aba2;
}

.input-file {
    position: relative;
    display: inline-block;
}
.input-file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #28553F;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}
.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}


/* Hover/active */
.input-file:hover span {
    background-color: #417f61;
}
.input-file:active span {
    background-color: #59b068;
}

/* Disabled */
.input-file input[type=file]:disabled + span {
    background-color: #eee;
}