.container {
  display: flex;
  flex-direction: column;
  color: black;
  width: 100%;



  .userBlock {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 880px) {
      padding: 0 10px;
    }

    @media (max-width: 580px) {
      flex-direction: column;
    }

    .userImageBlock {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      width: 300px;

      .image {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        @media (max-width: 880px) {
          width: 270px;
          height: 270px;
        }
      }
    }

    @media (max-width: 880px) {
      //width: 200px;
      //height: 200px;
    }

    .userInfo {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 80%;

      @media (max-width: 580px) {
        order: 1;
        width: 100%;
      }

      .userChange {
        display: flex;
        flex-direction: column;
        width: 100%;
        //gap: 10px;
      }
    }
  }
}


.addStyles {
  margin-top: 50px !important;
}
.inpuStyles {
  border: none !important;
  border-bottom: 1px solid #28553F !important;
  color: #000 !important;
  border-radius: 0px !important;
  width: 100% !important;

  &:focus {
    border-bottom: 1px solid #000 !important;
  }

}

.labelStyles {
  color: #000 !important;
}

.buttonStyles {
  padding: 10px 20px;
}

.button {
  background-color: #28553F;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  transition: .2s linear;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;

  &:disabled {
    background-color: #414141;
  }

  &:disabled:active {
    transform: none;
  }

  &:disabled:hover{
    box-shadow: none;
  }

}

.button:hover {
  box-shadow: 0px 0px 25px #28553F;
}

.button:active {
  transform: scale(.95);
}


.inputFile {
  position: relative;
  display: inline-block;
}
.inputFile span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  border-radius: 4px;
  background-color: #28553F;
  line-height: 22px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
}
.inputFile input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}


/* Hover/active */
.inputFile:hover span {
  background-color: #417f61;
}
.inputFile:active span {
  background-color: #59b068;
}

/* Disabled */
.inputFile input[type=file]:disabled + span {
  background-color: #eee;
}