.container {
  width: 100%;

  .favouriteBlock {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .favourite {
      display: flex;
      flex-direction: column;
      width: 320px;
      height: 435px;
      gap: 20px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 10px;

      .imageBlock {
        width: 250px;
        height: 250px;
        .image {
          width: 250px;
          height: 250px;
        }
      }

      .favourite__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        .rating {
          display: flex;
          align-items: center;
          width: 100%;
          font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
      }
    }
  }
}

.count {
  //font-size: 40px;
  position: absolute;
  top: -38px;
  right: 0;
  padding: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #000;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
  width: 40px;
  height: 40px;
}

.buttonsContainer {
  width: 100%;
}

.bigButton {
  width: 100%;
}

.catalogButtonContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .catalogButton {
    padding:10px  20px;
  }
}